IMPORT LIBS

In [129]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np


CREATE ENGINE

In [130]:
en = create_engine("mysql+pymysql://root:root@localhost/Veiculos")

READING BRANDS FILE WITH PANDAS

In [386]:
df_b = pd.read_csv('brands.csv')

CREATE BRANDS TABLE ON DB

In [412]:
df_b.to_sql(name='brands', if_exists='replace', index=False,con=en)

194

READING FIPE FILE

In [275]:
df_f = pd.read_excel('fipe.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

CONSULT - HOW MANY VALUES NEED SEND TO DF?

In [222]:
df_f.anoModelo.sort_values(ascending = False)

45462    32000
21046    32000
13603    32000
43093    32000
21127    32000
         ...
41129     1981
40757     1981
40413     1981
36047     1981
36431     1981
Name: anoModelo, Length: 46231, dtype: int64

In [374]:
b_cols = ['id_veiculo_marca','name','status','type']
fb_cols = ['codigoMarca','Marca','codigoTipoVeiculo']
b_unique = df_b['id_veiculo_marca'].nunique()
f_unique = df_f['codigoMarca'].nunique()

In [142]:
print(f"""df_b unique ids: {b_unique} \ndf_f unique ids: {f_unique}""")

df_b unique ids: 194
df_f unique ids: 219

In [158]:
print("""IS IN BRANDS FILE BUT NOT IN FIPE TABLE:""")
df_b[~df_b.id_veiculo_marca.isin(df_f.codigoMarca)][b_cols]

IS IN BRANDS FILE BUT NOT IN FIPE TABLE:

    id_veiculo_marca   name  status  type
8                  9  Buggy       1     0
82                86  KIMCO       1     1

In [375]:
print("""IS IN FIPE TABLE BUT NOT IN BRANDS FILE:""")
df_f[~df_f.codigoMarca.isin(df_b.id_veiculo_marca)][fb_cols].drop_duplicates()

IS IN FIPE TABLE BUT NOT IN BRANDS FILE:

       codigoMarca             Marca  codigoTipoVeiculo
1393           207              Baby                  1
2771           238               BYD                  1
2798           236        CAB Motors                  1
2813           245        Caoa Chery                  1
3992           241        D2D Motors                  1
4081           246              DFSK                  1
11504          240               GWM                  1
11549          214   HITECH ELECTRIC                  1
12942          208             IVECO                  1
15683          211           Mclaren                  1
22856          247             SERES                  1
28025          216           AVELLOZ                  2
28042          205               BEE                  2
28782          212              BULL                  2
29432          248             FEVER                  2
29448          209  FUSCO MOTOSEGURA                  2
29659          203            HAOJUE                  2
32496          204             KYMCO                  2
32850          239               NIU                  2
32993          210           POLARIS                  2
33622          237        SUPER SOCO                  2
34806          244    Ventane Motors                  2
34819          215             VOLTZ                  2
34829          243             WATTS                  2
35626          242            ZONTES                  2
35912          206           BEPOBUS                  3
38441          188               JAC                  3

In [387]:
trat_b = df_f[~df_f.codigoMarca.isin(df_b.id_veiculo_marca)][fb_cols].drop_duplicates()

TRATMENT - RENAME COLUMNS, REPLACE TYPES AND INSERT STATUS COLUMN

In [388]:
trat_b = trat_b.rename(columns={fb_cols[0]:'id_veiculo_marca',fb_cols[1]:'name',fb_cols[2]:'type'}).replace({1:0,2:1,3:2})

In [389]:
trat_b.insert(2,'status',1,True)

In [390]:
trat_b

       id_veiculo_marca              name  status  type
1393                207              Baby       1     0
2771                238               BYD       1     0
2798                236        CAB Motors       1     0
2813                245        Caoa Chery       1     0
3992                241        D2D Motors       1     0
4081                246              DFSK       1     0
11504               240               GWM       1     0
11549               214   HITECH ELECTRIC       1     0
12942               208             IVECO       1     0
15683               211           Mclaren       1     0
22856               247             SERES       1     0
28025               216           AVELLOZ       1     1
28042               205               BEE       1     1
28782               212              BULL       1     1
29432               248             FEVER       1     1
29448               209  FUSCO MOTOSEGURA       1     1
29659               203            HAOJUE       1     1
32496               204             KYMCO       1     1
32850               239               NIU       1     1
32993               210           POLARIS       1     1
33622               237        SUPER SOCO       1     1
34806               244    Ventane Motors       1     1
34819               215             VOLTZ       1     1
34829               243             WATTS       1     1
35626               242            ZONTES       1     1
35912               206           BEPOBUS       1     2
38441               188               JAC       1     2

SEND BRANDS TO DB

In [413]:
trat_b.to_sql(name='brands', con=en, if_exists='append', index=False)

27

---
# MODELS

READING MODELS FILE WITH PANDAS

In [171]:
df_m= pd.read_csv('models.csv')

CREATE MODELS TABLE ON DB

In [411]:
df_m.to_sql(name='models', if_exists='replace', index=False,con=en)

7698

CONSULT - HOW MANY VALUES NEED SEND TO DF?

In [200]:
m_cols = ['id_veiculo_modelo','name','status','fk_veiculo_marca']
fm_cols = ['codigoModelo','Modelo','codigoMarca']
m_unique = df_m['id_veiculo_modelo'].nunique()
f_m_uniq = df_f['codigoModelo'].nunique()

In [187]:
print(f"""df_m unique ids: {m_unique} \ndf_f unique ids: {f_m_uniq}""")

df_m unique ids: 7698
df_f unique ids: 10424

In [190]:
print("""IS IN MODELS FILE BUT NOT IN FIPE TABLE:""")
df_m[~df_m.id_veiculo_modelo.isin(df_f.codigoModelo)][m_cols].nunique()

IS IN MODELS FILE BUT NOT IN FIPE TABLE:

id_veiculo_modelo    50
name                 50
status                1
fk_veiculo_marca     25
dtype: int64

In [392]:
print("""NEW BRANDS WITH NEW MODELS:""")
df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

NEW BRANDS WITH NEW MODELS:

,codigoModelo,Modelo,Marca,anoModelo,TipoVeiculo
83,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,32000,Carro
84,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2024,Carro
85,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2023,Carro
86,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2022,Carro
87,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2021,Carro
...,...,...,...,...,...
46168,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2024,Caminhao
46169,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2023,Caminhao
46170,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,32000,Caminhao
46171,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2024,Caminhao
46172,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2023,Caminhao

---

UPDATE MODELS FROM EXIST BRANDS

In [393]:
exist = df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

In [395]:
exist[exist.Marca=='BMW']

,codigoModelo,Modelo,Marca,anoModelo,TipoVeiculo
1449,9955,118i M Sport 1.5 TB 12V Aut. 5p,BMW,32000,Carro
1450,9955,118i M Sport 1.5 TB 12V Aut. 5p,BMW,2024,Carro
1451,9955,118i M Sport 1.5 TB 12V Aut. 5p,BMW,2023,Carro
1452,8946,118i Sport 1.5 TB 12V Aut. 5p,BMW,32000,Carro
1453,8946,118i Sport 1.5 TB 12V Aut. 5p,BMW,2024,Carro
...,...,...,...,...,...
28546,9202,S 1000 RR-M,BMW,2021,Moto
28547,9519,S 1000 RR-M Carbon,BMW,32000,Moto
28548,9519,S 1000 RR-M Carbon,BMW,2024,Moto
28549,9519,S 1000 RR-M Carbon,BMW,2022,Moto
28550,9519,S 1000 RR-M Carbon,BMW,2021,Moto

UPDATE MODELS WITH NEW BRANDS

In [378]:
print("""NEW BRANDS WITH NEW MODELS:""")
df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

NEW BRANDS WITH NEW MODELS:

,codigoModelo,Modelo,Marca,anoModelo,TipoVeiculo
83,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,32000,Carro
84,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2024,Carro
85,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2023,Carro
86,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2022,Carro
87,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2021,Carro
...,...,...,...,...,...
46168,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2024,Caminhao
46169,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2023,Caminhao
46170,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,32000,Caminhao
46171,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2024,Caminhao
46172,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2023,Caminhao

---

In [406]:
trat_m = df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][fm_cols].drop_duplicates()

TRATMENT - RENAME COLUMNS AND INSERT STATUS COLUMN

In [407]:
trat_m = trat_m.rename(columns={fm_cols[0]:'id_veiculo_modelo',fm_cols[1]:'name',fm_cols[2]:'fk_veiculo_marca'})

In [408]:
trat_m.insert(2,'status',1,True)

SEND MODELS TO DB

In [414]:
trat_m.to_sql(name='models', con=en, if_exists='append', index=False)

2776

---

SED COLUMNS MES / ANO

In [379]:
df_f.Mes.value_counts()

Mes
abril/2024     46231
Name: count, dtype: int64

In [302]:
for index, col in enumerate(["Month", "Year"]):
    df_f[col] = df_f.Mes.str.split("/").str[index]

In [404]:
df_f.anoModelo.value_counts(normalize=True)

anoModelo
2015     0.036837
2012     0.036642
2014     0.035972
2016     0.034890
2018     0.034241
2013     0.034025
2011     0.033722
2019     0.033419
32000    0.032943
2017     0.032835
2023     0.032749
2020     0.032619
2010     0.031321
2022     0.029872
2009     0.029634
2021     0.029482
2008     0.028574
1999     0.026973
2001     0.026757
2000     0.026497
2024     0.026043
2007     0.026043
1998     0.025870
2006     0.025762
2005     0.023772
2002     0.022799
1997     0.022344
2003     0.021414
2004     0.021220
1995     0.021176
1996     0.019641
1994     0.018408
1993     0.015098
1992     0.012135
1991     0.009777
1990     0.007225
1989     0.007138
1988     0.006316
1987     0.006230
1986     0.005840
1985     0.005386
1984     0.002444
1983     0.002141
1982     0.002098
1981     0.001947
2025     0.001730
Name: proportion, dtype: float64

---