IMPORT LIBS

In [129]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np


CREATE ENGINE

In [130]:
en = create_engine("mysql+pymysql://root:root@localhost/Veiculos")

READING BRANDS FILE WITH PANDAS

In [148]:
df_b = pd.read_csv('brands.csv')

CREATE BRANDS TABLE ON DB

In [169]:
df_b.to_sql(name='brands', if_exists='append', index=False,con=en)

194

READING FIPE FILE

In [275]:
df_f = pd.read_excel('fipe.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

CONSULT - HOW MANY VALUES NEED SEND TO DF?

In [222]:
df_f.anoModelo.sort_values(ascending = False)

45462    32000
21046    32000
13603    32000
43093    32000
21127    32000
         ...
41129     1981
40757     1981
40413     1981
36047     1981
36431     1981
Name: anoModelo, Length: 46231, dtype: int64

In [374]:
b_cols = ['id_veiculo_marca','name','status','type']
fb_cols = ['codigoMarca','Marca','codigoTipoVeiculo']
b_unique = df_b['id_veiculo_marca'].nunique()
f_unique = df_f['codigoMarca'].nunique()

In [142]:
print(f"""df_b unique ids: {b_unique} \ndf_f unique ids: {f_unique}""")

df_b unique ids: 194
df_f unique ids: 219

In [158]:
print("""IS IN BRANDS FILE BUT NOT IN FIPE TABLE:""")
df_b[~df_b.id_veiculo_marca.isin(df_f.codigoMarca)][b_cols]

IS IN BRANDS FILE BUT NOT IN FIPE TABLE:

    id_veiculo_marca   name  status  type
8                  9  Buggy       1     0
82                86  KIMCO       1     1

In [375]:
print("""IS IN FIPE TABLE BUT NOT IN BRANDS FILE:""")
df_f[~df_f.codigoMarca.isin(df_b.id_veiculo_marca)][fb_cols].drop_duplicates()

IS IN FIPE TABLE BUT NOT IN BRANDS FILE:

       codigoMarca             Marca  codigoTipoVeiculo
1393           207              Baby                  1
2771           238               BYD                  1
2798           236        CAB Motors                  1
2813           245        Caoa Chery                  1
3992           241        D2D Motors                  1
4081           246              DFSK                  1
11504          240               GWM                  1
11549          214   HITECH ELECTRIC                  1
12942          208             IVECO                  1
15683          211           Mclaren                  1
22856          247             SERES                  1
28025          216           AVELLOZ                  2
28042          205               BEE                  2
28782          212              BULL                  2
29432          248             FEVER                  2
29448          209  FUSCO MOTOSEGURA                  2
29659          203            HAOJUE                  2
32496          204             KYMCO                  2
32850          239               NIU                  2
32993          210           POLARIS                  2
33622          237        SUPER SOCO                  2
34806          244    Ventane Motors                  2
34819          215             VOLTZ                  2
34829          243             WATTS                  2
35626          242            ZONTES                  2
35912          206           BEPOBUS                  3
38441          188               JAC                  3

In [165]:
trat_b = df_f[~df_f.codigoMarca.isin(df_b.id_veiculo_marca)][fb_cols].drop_duplicates()

TRATMENT - RENAME COLUMNS, REPLACE TYPES AND INSERT STATUS COLUMN

In [166]:
trat_b = trat_b.rename(columns={fb_cols[0]:'id_veiculo_marca',fb_cols[1]:'name',fb_cols[2]:'type'}).replace({1:0,2:1,3:2})

In [167]:
trat_b.insert(2,'status',1,True)

SEND BRANDS TO DB

In [170]:
trat_b.to_sql(name='brands', con=en, if_exists='append', index=False)

27

---
# MODELS

READING MODELS FILE WITH PANDAS

In [171]:
df_m= pd.read_csv('models.csv')

CREATE MODELS TABLE ON DB

In [172]:
df_m.to_sql(name='models', if_exists='append', index=False,con=en)

7698

CONSULT - HOW MANY VALUES NEED SEND TO DF?

In [200]:
m_cols = ['id_veiculo_modelo','name','status','fk_veiculo_marca']
fm_cols = ['codigoModelo','Modelo','codigoMarca']
m_unique = df_m['id_veiculo_modelo'].nunique()
f_m_uniq = df_f['codigoModelo'].nunique()

In [187]:
print(f"""df_m unique ids: {m_unique} \ndf_f unique ids: {f_m_uniq}""")

df_m unique ids: 7698
df_f unique ids: 10424

In [190]:
print("""IS IN MODELS FILE BUT NOT IN FIPE TABLE:""")
df_m[~df_m.id_veiculo_modelo.isin(df_f.codigoModelo)][m_cols].nunique()

IS IN MODELS FILE BUT NOT IN FIPE TABLE:

id_veiculo_modelo    50
name                 50
status                1
fk_veiculo_marca     25
dtype: int64

In [ ]:
print("""NEW BRANDS WITH NEW MODELS:""")
df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

---

UPDATE MODELS FROM EXIST BRANDS

In [380]:
exist = df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

In [381]:
exist[exist.Marca=='VOLVO']

       codigoModelo                       Modelo  Marca  anoModelo TipoVeiculo
44990         10483  FH-420 4X2 2p (diesel) (E6)  VOLVO      32000    Caminhao
44991         10483  FH-420 4X2 2p (diesel) (E6)  VOLVO       2024    Caminhao
44992         10483  FH-420 4X2 2p (diesel) (E6)  VOLVO       2023    Caminhao
45004         10484  FH-420 6X2 2p (diesel) (E6)  VOLVO      32000    Caminhao
45005         10484  FH-420 6X2 2p (diesel) (E6)  VOLVO       2024    Caminhao
...             ...                          ...    ...        ...         ...
46168         10545  VM 360 8X2 2p (diesel) (E6)  VOLVO       2024    Caminhao
46169         10545  VM 360 8X2 2p (diesel) (E6)  VOLVO       2023    Caminhao
46170         10649  VM 360 8X4 2p (diesel) (E6)  VOLVO      32000    Caminhao
46171         10649  VM 360 8X4 2p (diesel) (E6)  VOLVO       2024    Caminhao
46172         10649  VM 360 8X4 2p (diesel) (E6)  VOLVO       2023    Caminhao

[245 rows x 5 columns]

UPDATE MODELS WITH NEW BRANDS

In [378]:
print("""NEW BRANDS WITH NEW MODELS:""")
df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][['codigoModelo','Modelo','Marca','anoModelo','TipoVeiculo']].drop_duplicates()

NEW BRANDS WITH NEW MODELS:

,codigoModelo,Modelo,Marca,anoModelo,TipoVeiculo
83,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,32000,Carro
84,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2024,Carro
85,10883,MARRUÁ AM 200 Esc. 3.8 TDI Die.Aut. (E6),Agrale,2023,Carro
86,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2022,Carro
87,9352,MARRUÁ AM 200 Escolar 2.8 TDI Diesel,Agrale,2021,Carro
...,...,...,...,...,...
46168,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2024,Caminhao
46169,10545,VM 360 8X2 2p (diesel) (E6),VOLVO,2023,Caminhao
46170,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,32000,Caminhao
46171,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2024,Caminhao
46172,10649,VM 360 8X4 2p (diesel) (E6),VOLVO,2023,Caminhao

---

In [203]:
trat_m = df_f[~df_f.codigoModelo.isin(df_m.id_veiculo_modelo)][fm_cols].drop_duplicates()

TRATMENT - RENAME COLUMNS AND INSERT STATUS COLUMN

In [204]:
trat_m = trat_m.rename(columns={fm_cols[0]:'id_veiculo_modelo',fm_cols[1]:'name',fm_cols[2]:'fk_veiculo_marca'})

In [206]:
trat_m.insert(2,'status',1,True)

SEND MODELS TO DB

In [207]:
trat_m.to_sql(name='models', con=en, if_exists='append', index=False)

2776

---

SED COLUMNS MES / ANO

In [379]:
df_f.Mes.value_counts()

Mes
abril/2024     46231
Name: count, dtype: int64

In [302]:
for index, col in enumerate(["Month", "Year"]):
    df_f[col] = df_f.Mes.str.split("/").str[index]

In [303]:
df_f

,codigoTabelaReferencia,Mes,Mes2,ano,codigoMarca,Marca,codigoModelo,Modelo,codigoTipoVeiculo,anoModelo,codigoTipoCombustivel,Combustivel,Valor,codigoFipe,codigo,TipoVeiculo,Month,Year
0,308,abril/2024,abril,2024,1,Acura,1,Integra GS 1.8,1,1992,1,Gasolina,"R$ 11.390,00",038003-2,1,Carro,abril,2024
1,308,abril/2024,abril,2024,1,Acura,1,Integra GS 1.8,1,1991,1,Gasolina,"R$ 10.640,00",038003-2,2,Carro,abril,2024
2,308,abril/2024,abril,2024,1,Acura,2,Legend 3.2/3.5,1,1998,1,Gasolina,"R$ 26.057,00",038002-4,3,Carro,abril,2024
3,308,abril/2024,abril,2024,1,Acura,2,Legend 3.2/3.5,1,1997,1,Gasolina,"R$ 23.171,00",038002-4,4,Carro,abril,2024
4,308,abril/2024,abril,2024,1,Acura,2,Legend 3.2/3.5,1,1996,1,Gasolina,"R$ 21.786,00",038002-4,5,Carro,abril,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46226,308,abril/2024,abril,2024,144,WALKBUS,4574,Phanter Special Urbano/SPTRANS 2p (die.),3,2012,3,Diesel,"R$ 144.212,00",520001-6,46227,Caminhao,abril,2024
46227,308,abril/2024,abril,2024,144,WALKBUS,4574,Phanter Special Urbano/SPTRANS 2p (die.),3,2011,3,Diesel,"R$ 127.759,00",520001-6,46228,Caminhao,abril,2024
46228,308,abril/2024,abril,2024,144,WALKBUS,4574,Phanter Special Urbano/SPTRANS 2p (die.),3,2010,3,Diesel,"R$ 105.286,00",520001-6,46229,Caminhao,abril,2024
46229,308,abril/2024,abril,2024,144,WALKBUS,4574,Phanter Special Urbano/SPTRANS 2p (die.),3,2009,3,Diesel,"R$ 93.659,00",520001-6,46230,Caminhao,abril,2024
46230,308,abril/2024,abril,2024,144,WALKBUS,4574,Phanter Special Urbano/SPTRANS 2p (die.),3,2008,3,Diesel,"R$ 88.240,00",520001-6,46231,Caminhao,abril,2024

---